[submodule "third_party/inih"]
	path = third_party/inih
	url = git://github.com/benhoyt/inih.git
	branch = master
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = git://github.com/leethomason/tinyxml2.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = git://github.com/miloyip/rapidjson.git
